<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="zdz.bilicover">

	<!--获取网络访问权限-->
	<uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
	<!--写入外部存储权限-->
	<uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<!--读取外部存储权限-->
	<uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<!--不知道是什么权限,也要了-->
	<uses-permission-sdk-23 android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

	<application
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.BilibiliCoverGetter"
		android:requestLegacyExternalStorage="true"
		tools:targetApi="31">
		<activity
			android:name=".ui.main.MainActivity"
			android:exported="true"
			android:theme="@style/Theme.BilibiliCoverGetter">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.SEND" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="text/plain" />
			</intent-filter>
		</activity>
		<provider
			android:authorities="zdz.bilicover.fileProvider"
			android:name="androidx.core.content.FileProvider"
			android:grantUriPermissions="true"
			android:exported="false">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_path"/>
		</provider>
	</application>

</manifest>